<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>ChooserOnly</key>
	<true/>
	<key>DefaultCompletionName</key>
	<string>Model</string>
	<key>Description</key>
	<string>A BeeModel, with implementation and header files.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>The name of the class to create</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Class</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Default</key>
			<string>BeeActiveRecord</string>
			<key>Description</key>
			<string>What class to subclass in the new file</string>
			<key>FallbackHeader</key>
			<string>#import &quot;Bee_ActiveRecord.h&quot;</string>
			<key>Identifier</key>
			<string>cocoaTouchSubclass</string>
			<key>Name</key>
			<string>Subclass of</string>
			<key>Required</key>
			<string>YES</string>
			<key>Suffixes</key>
			<dict>
				<key>BeeActiveRecord</key>
				<string>Model</string>
			</dict>
			<key>Type</key>
			<string>class</string>
			<key>Values</key>
			<array>
				<string>NSObject</string>
				<string>BeeActiveRecord</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Summary</key>
	<string>A BeeModel, with implementation and header files.</string>
</dict>
</plist>
