<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>SharedSettings</key>
			<dict>
				<key>HEADER_SEARCH_PATHS</key>
				<string>/usr/include/libxml2</string>
			</dict>
			<key>Frameworks</key>
			<array>
				<string>CoreGraphics</string>
				<string>AVFoundation</string>
				<string>CFNetwork</string>
				<string>CoreMedia</string>
				<string>CoreText</string>
				<string>CoreVideo</string>
				<string>MobileCoreServices</string>
				<string>QuartzCore</string>
				<string>Security</string>
				<string>SystemConfiguration</string>
			</array>
		</dict>
	</array>
	<key>Identifier</key>
	<string>com.bee-framework.templates.base</string>
	<key>Template Author</key>
	<string>{Bee} - QFish.cn@gmail.com</string>
	<key>Concrete</key>
	<string>No</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>libz.dylib</key>
		<dict>
			<key>Path</key>
			<string>/usr/lib/libz.dylib</string>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
			<key>Group</key>
			<string>library</string>
		</dict>
		<key>libsqlite3.dylib</key>
		<dict>
			<key>Path</key>
			<string>/usr/lib/libsqlite3.dylib</string>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
			<key>Group</key>
			<string>library</string>
		</dict>
		<key>libxml2.dylib</key>
		<dict>
			<key>Path</key>
			<string>/usr/lib/libxml2.dylib</string>
			<key>PathType</key>
			<string>DeveloperDir</string>
			<key>FileType</key>
			<string>wrapper.framework</string>
			<key>Group</key>
			<string>library</string>
		</dict>
		<key>model/</key>
		<dict>
			<key>Path</key>
			<string>model</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>controller/</key>
		<dict>
			<key>Path</key>
			<string>controller</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>view_iPhone/resource/</key>
		<dict>
			<key>Path</key>
			<string>view_iPhone/resource</string>
			<key>Group</key>
			<array>
				<string>view_iPhone</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>view_iPhone/templates/</key>
		<dict>
			<key>Path</key>
			<string>view_iPhone/templates</string>
			<key>Group</key>
			<array>
				<string>view_iPhone</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>view_iPad/resource/</key>
		<dict>
			<key>Path</key>
			<string>view_iPad/resource</string>
			<key>Group</key>
			<array>
				<string>view_iPad</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>view_iPad/templates/</key>
		<dict>
			<key>Path</key>
			<string>view_iPad/templates</string>
			<key>Group</key>
			<array>
				<string>view_iPad</string>
			</array>
			<key>TargetIndices</key>
			<array/>
		</dict>
	</dict>
	<key>Nodes</key>
	<array>
		<string>model/</string>
		<string>controller/</string>
		<string>view_iPhone/resource/</string>
		<string>view_iPhone/templates/</string>
		<string>view_iPad/resource/</string>
		<string>view_iPad/templates/</string>
		<string>libz.dylib</string>
		<string>libsqlite3.dylib</string>
		<string>libxml2.dylib</string>
	</array>
</dict>
</plist>
