<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.objectiveCApplication</string>
		<string>com.apple.dt.unit.iPhoneBase</string>
		<string>com.apple.dt.unit.prefixable</string>
	</array>
	<key>Identifier</key>
	<string>com.bee-framework.templates.cocoa</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate.h</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.h</string>
		</dict>
		<key>AppDelegate.m</key>
		<dict>
			<key>Path</key>
			<string>AppDelegate.m</string>
		</dict>
		<key>Default-568h@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Default-568h@2x.png</string>
		</dict>
		<key>Default.png</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Default.png</string>
		</dict>
		<key>Icon.png</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Icon.png</string>
		</dict>
		<key>Icon@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Icon@2x.png</string>
		</dict>
		<key>Default@2x.png</key>
		<dict>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Path</key>
			<string>Default@2x.png</string>
		</dict>
		<key>___PACKAGENAME___-Info.plist:iPhone</key>
		<string>&lt;key&gt;CFBundleDisplayName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleVersion&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;CFBundleShortVersionString&lt;/key&gt;
&lt;string&gt;1.0&lt;/string&gt;
&lt;key&gt;LSRequiresIPhoneOS&lt;/key&gt;
&lt;true/&gt;
&lt;key&gt;UIRequiredDeviceCapabilities&lt;/key&gt;
&lt;array&gt;
	&lt;string&gt;armv7&lt;/string&gt;
&lt;/array&gt;</string>
		<key>___PACKAGENAME___-Info.plist:statusBarTintForNavBar</key>
		<string>&lt;key&gt;UIStatusBarTintParameters&lt;/key&gt;
&lt;dict&gt;
    &lt;key&gt;UINavigationBar&lt;/key&gt;
    &lt;dict&gt;
        &lt;key&gt;Style&lt;/key&gt;
        &lt;string&gt;UIBarStyleDefault&lt;/string&gt;
        &lt;key&gt;Translucent&lt;/key&gt;
        &lt;false/&gt;
    &lt;/dict&gt;
&lt;/dict&gt;
</string>
		<key>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability:*</key>
		<string>#import &lt;Availability.h&gt;

#ifndef __IPHONE____*____0
#warning &quot;This project uses features only available in iOS SDK ___*___.0 and later.&quot;
#endif
</string>
		<key>___PACKAGENAME___.entitlements</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;!DOCTYPE plist PUBLIC &quot;-//Apple//DTD PLIST 1.0//EN&quot; &quot;http://www.apple.com/DTDs/PropertyList-1.0.dtd&quot;&gt;
&lt;plist version=&quot;1.0&quot;&gt;
&lt;dict&gt;
            </string>
			<key>End</key>
			<string>&lt;/dict&gt;
&lt;/plist&gt;
            </string>
			<key>Group</key>
			<string>Supporting Files</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>___PACKAGENAME___.entitlements:dataProtectionClass</key>
		<string>&lt;key&gt;DataProtectionClass&lt;/key&gt;
&lt;string&gt;NSFileProtectionComplete&lt;/string&gt;
        </string>
		<key>main.m:main:UIApplicationMain</key>
		<string>@autoreleasepool {
    return UIApplicationMain(argc, argv, nil, NSStringFromClass([___VARIABLE_classPrefix:identifier___AppDelegate class]));
}
</string>
	</dict>
	<key>Nodes</key>
	<array>
		<string>main.m:import:___VARIABLE_classPrefix:identifier___AppDelegate.h</string>
		<string>main.m:main:UIApplicationMain</string>
		<string>___PACKAGENAME___-Info.plist:iPhone</string>
		<string>___PACKAGENAME___-Info.plist:NSMainNibFile</string>
		<string>___PACKAGENAME___-Prefix.pch:objC:importFoundation</string>
		<string>___PACKAGENAME___-Prefix.pch:Availability:iPhoneAvailability</string>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
		<string>Icon.png</string>
		<string>Icon@2x.png</string>
		<string>AppDelegate.h</string>
		<string>AppDelegate.m</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Default</key>
			<string>true</string>
			<key>Description</key>
			<string>Whether a unit test bundle should be created</string>
			<key>Identifier</key>
			<string>includeUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>SortOrder</key>
			<integer>2</integer>
			<key>Type</key>
			<string>checkbox</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.apple.dt.unit.cocoaTouchApplicationUnitTestBundle</string>
								<key>Name</key>
								<string>___PACKAGENAME___Tests</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</dict>
		<dict>
			<key>Default</key>
			<string>Universal</string>
			<key>Description</key>
			<string>Which device family to create a project for</string>
			<key>Identifier</key>
			<string>universalDeviceFamily</string>
			<key>Name</key>
			<string>Devices</string>
			<key>SortOrder</key>
			<integer>1</integer>
			<key>Type</key>
			<string>popup</string>
			<key>Units</key>
			<dict>
				<key>Universal</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</string>
						<string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>1,2</string>
						</dict>
					</dict>
				</dict>
				<key>iPad</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPad</string>
					</array>
					<key>Project</key>
					<dict>
						<key>SharedSettings</key>
						<dict>
							<key>TARGETED_DEVICE_FAMILY</key>
							<string>2</string>
						</dict>
					</dict>
				</dict>
				<key>iPhone</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>___PACKAGENAME___-Info.plist:UISupportedInterfaceOrientations~iPhone</string>
					</array>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Release</key>
			<dict>
				<key>OTHER_CFLAGS</key>
				<string>-DNS_BLOCK_ASSERTIONS=1</string>
			</dict>
		</dict>
		<key>SharedSettings</key>
		<dict>
			<key>CODE_SIGN_IDENTITY[sdk=iphoneos*]</key>
			<string>iPhone Developer</string>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Frameworks</key>
			<array>
				<string>UIKit</string>
				<string>Foundation</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
